{% if 'tipue_search' in PLUGINS %}
  <li  class="list-group-item search">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="{{ _('Search') }}">
          <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
  </li>
{% endif %}
