.breadcrumb {
  border: none;
  text-shadow: none;
  background-color: transparent;
  background-image: none;
}
img {
    background-color: white;
}
.nav img {
    background-color: transparent;
    height: 50px;
    margin-top: 5px;
    margin-right: 10px;
}
img.logo {
    height: 50px;
    margin-top: 5px;
}
.navbar-nav .input-group{
    margin-top: 7px;
    margin-right: 7px;
}

.search .input-group input {

    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.search .input-group span {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

ul.list-group-flush>li.list-group-item{
    border-bottom: 1px solid #DCE4EC;
}

article img {
    border: 1px solid #eeeeee;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}
