<h3>privacy</h3>
<ul>
  <li>
    <a href="privacy/jnarac.html">je n'ai rien &agrave; cacher</a>
    <ul>
      <li><a href="1337/http.html">http</a></li>
      <li><a href="privacy/sovereignty.html">souverainet&eacute;</a></li>
      <li><a href="privacy/tracking.html">tracking</a></li>
      <li><a href="privacy/passwords.html">mots de passes</a></li>
      <li><a href="privacy/crypto.html">crypto</a></li>
      <li><a href="privacy/tls.html">tls</a> / <a href="privacy/tls.html#/0/52">https</a></li>
      <li><a href="privacy/pgp.html">pgp</a></li>
      <li><a href="privacy/TLSvsPGP.html">tls vs PGP</a></li>
      <li><a href="privacy/tor.html">tor</a></li>
      <li><a href="privacy/tails.html">tails</a></li>
      <li><a href="privacy/bitcoin.html">bitcoin</a></li>
    </ul>
  </li>
  <li><a href="privacy/surfer_couvert.html">surfer couvert (en bref)</a></li>
</ul>


<h3>1337</h3>
<ul>
  <li>
    Architecture
    <ul>
      <li><a href="1337/http.html">http</a> / <a href="privacy/tls.html#/0/52">https</a></li>
      <li><a href="1337/js.html">JS</a></li>
    </ul>
  </li>
  <li>
    Pentesting
    <ul>
      <li><a href="1337/gathering.html">Collecter</a></li>
      <li>
        <a href="1337/detecting.html">D&eacute;tecter</a>
        <ul>
          <li><a href="1337/heartbleed.html">Heartbleed</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="1337/authentication.html">Authentification</a></li>
  <li>
    Vuln&eacute;rabilit&eacute;s communes
    <ul>
      <li>
        <a href="1337/cmdi.html">Command execution</a>
        <ul>
          <li><a href="1337/shellshock.html">Shellshock</a></li>
        </ul>
      </li>
      <li><a href="1337/upload.html">Upload</a></li>
      <li><a href="1337/fi.html">File inclusion</a></li>
      <li><a href="1337/xss.html">XSS</a></li>
      <li><a href="1337/csrf.html">CSRF</a></li>
      <li>
        <a href="1337/sqli.html">SQLi</a>
        <ul>
          <li><a href="1337/drupalgeddon.html">Drupalgeddon</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Se prot&eacute;ger
    <ul>
      <li><a href="1337/top10.html">Top10</a></li>
      <li><a href="1337/anticiper.html">Anticiper</a></li>
      <li><a href="1337/reagir.html">R&eacute;agir</a></li>
    </ul>
  </li>
</ul>

<h3>cri</h3>
<ul>
  <li><a href="cri/devops.html">devops</a></li>
  <li><a href="cri/vagrant.html">vagrant</a></li>
  <li><a href="cri/ansible.html">ansible</a></li>
  <li><a href="cri/vault.html">vault</a></li>
  <li><a href="cri/pve.html">pve</a></li>
  <li><a href="cri/terraform.html">terraform</a></li>
  <li><a href="cri/stack.html">stack</a></li>
  <li><a href="cri/gitlab.html">gitlab</a></li>
  <li><a href="cri/my.html">my</a></li>
  <li><a href="cri/openstack.html">openstack</a></li>
  <li><a href="cri/criprod.html">criprod</a></li>
</ul>
